<h1 class="main-text answer" id="responsive_headline">t-<%= time_till_first_game %></h1>
<h2 class="main-text2 gamewrap" id="responsive_headline2">
	<span class="next-venue">vs.</span>
	<span class="next-opponent"><%= first.opponent %></span> |
	<span class="next-time"><%= first.time %></span>
</h2>