<div class="large-6 columns largeleft" data-equalizer-watch>
<div class="social-section-full large-12 columns">
	<div class="row container">
			<div class="medium-12 columns">
					<h3 class="social-header">tell everybody!</h3>

					<div class="large-10 columns large-centered medium-10 medium-centered">
							<ul class="social-ul-full small-block-grid-4">
								<li>
									<span class='symbol social-icon'>&#xe300;</span>
								</li>

								<li>
									<span class='symbol social-icon'>&#xe227;</span>
								</li>

								<li>
									<span class='symbol social-icon'>&#xe286;</span>
								</li>

								<li>
									<span class='symbol social-icon'>&#xe224;</span>
								</li>
							</ul>
					</div>
			</div>
	</div>
</div>
</div>

