<div class="large-6 columns largeleft" data-equalizer-watch>
<div class="social-section-full large-12 columns">
	<div class="row container">
			<div class="medium-12 columns">
					<h3 class="social-header">tell everybody!</h3>
			</div>
	</div>
					<div class="socialist">

							<ul class="social-ul-full small-block-grid-4">
								<li>
									<span class='symbol social-icon'><%= link_to(raw('&#xe300;'), "http://instagram.com/arethebaronsplaying", target: "_blank") %></span>
								</li>

								<li>
									<span class='symbol social-icon'><%= link_to(raw('&#xe227;'), "http://facebook.com/arethebaronsplaying", target: "_blank") %></span>
								</li>

								<li>
									<span class='symbol social-icon'><%= link_to(raw('&#xe286;'), "http://twitter.com/arethebarons", target: "_blank") %></span>
								</li>

								<li>
									<span class='symbol social-icon'><%= link_to(raw('&#xe224;'), "mailto:all_your_friends?Subject=arethebaronsplaying.com", target: "_blank") %></span>
								</li>
							</ul>
						</div>
			
</div>
</div>

