<div class="main-section">
		<div class="row container mainlogo-padding" style="padding-top: 40px;">
				<div class="large-12 columns text-center">
						<%= image_tag("atbp-main-logo.png", :alt => "are-the-barons-playing-main-logo") %>
				</div>
		</div>

				<div class="maintextwrap">
						<%= render "countdown_or_live", games: @games %>
				</div>
</div>

<div data-equalizer>
	<%= render "if_event", games: @games %>
	<div class="large-6 columns largeright" data-equalizer-watch>
		<%= render "schedule", schedule: @schedule %>
	</div>
</div>
