<div class="main-section">
		<div class="row container">
				<div class="large-12 columns text-center">
						<%= image_tag("atbp-main-logo.png", :alt => "are-the-barons-playing-main-logo") %>
				</div>
		</div>

		<div class="answer-wrap">
				<h1 class="main-text" id="responsive_headline">
					<% if first_game < Time.now %>
						<%= render "yes_or_no" %>
					<% else %>
						<%= render "countdown" %>
					<% end %>
				</h1>
				<p><%= @next_games %></p>
		</div>
</div>

<div data-equalizer>
<div class="large-6 columns largeleft" data-equalizer-watch>
		<div class="event-section large-12 columns">
				<div class="row container">
						<div class="medium-12 columns">
								<h3 class="event-header">today's event:</h3>
								<h2 class="event-header">thirsty thursday</h2>
						</div>
				</div>
		</div>

		<div class="social-section large-12 columns">
				<div class="row container">
						<div class="medium-12 columns">
								<h3 class="social-header">tell everybody!</h3>
								<h2 class="social-header">(icons)</h2>
						</div>
				</div>
		</div>
</div>


<div class="large-6 columns largeright" data-equalizer-watch>
		<div class="schedule-section large-12 columns" height="100%">
				<div class="row container">
						<div class="medium-12 columns">
								<h3 class="schedule-header">today's event:</h3>
								<h2 class="schedule-header">thirsty thursday</h2>
						</div>
				</div>
		</div>
</div>
</div>
