$black: #19201e;
$red: #de4e3f;


.event-section {
	background: $black;
	padding: 0px;
	margin: 0px;
}

.event-header {
	font-family: 'Oswald', sans-serif;
	color: white;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
}