$black: #19201e;
$red: #de4e3f;


.event-section {
	background: $black;
	padding-top: 40px;
 	padding-bottom: 40px;
	margin: 0px;
}

.event-header {
	font-family: 'hamilton19', sans-serif;
	letter-spacing: 3px;
	color: white;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
}

.event-subheader {
	font-family: 'hamilton20';
	letter-spacing: 4px;
	color: white;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
}



@media only screen and (max-width: 40.063em) {
    .event-header {
        font-size: 1.7rem !important;
    }

    .event-subheader {
        font-size: 1.8rem !important;
    }

    .socialleft {
    	margin-left: -17px !important;
    }

 }