@import "vars.css.scss";

.schedule-subgrid {
	font-size: 1.9rem;
	padding-bottom: 7px;
}

.schedule-subgrid li {
	padding-bottom: 10px !important;
}

.middle-section-schedule {
	text-align: left;
}

.middlelist {
	text-align: left;
	white-space: nowrap; 
	margin-left: -33px; 
	padding-bottom: 7px;
}

.schedule-section {
	background: $gray;
	padding: 0px;
	margin: 0px;
	height: 100%;
	padding-top: 40px;
 	padding-bottom: 40px;
}

.schedule-header {
	font-family: 'hamilton19';
	letter-spacing: 3px;
	color: $red;
	font-size: 3rem;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 30px;
}

.star {
	vertical-align: 20%;
	font-size: 2rem;
	color: white;
}

.schedule-ul {
	color: white;
	text-align: center;
	font-family: 'hamilton20';
	font-size: 1.8rem;
	text-transform: uppercase;
	max-width: 400px;
	margin: 0 auto;
	letter-spacing: 1px;
	li {
		padding-bottom: 7px;
	}
}

.date {
	float: left;
}

.time {
	float: right;
}

.venue {
	text-transform: lowercase;
}



@media only screen and (max-width: 40.063em) {

	.schedule-header {
		font-size: 1.7rem !important;
	}

	.star {
		font-size: 1rem !important;
	}

	.schedule-ul {
		font-size: 1.2rem !important;
		max-width: 240px !important;
	}

	.schedule-subgrid {
	font-size: 1.2rem;
}
}